/* ----- Variables Générales ----- */
:root {
    --police-principale: Arial, sans-serif;   /* Police d'écriture */
    --couleur-texte: rgb(7, 165, 139);                   /* Couleur du texte */
    --style-texte: normal;                    /* Style du texte (normal, italic, etc.) */
    --espacement-texte: 20px;                 /* Espacement entre les paragraphes */
    --espacement-image-texte: 2px;           /* Espacement entre l'image et le texte */
}

/* ----- Général ----- */
.Cloudd-page {
    font-family: var(--police-principale);
    padding: 1px;
    background-color: rgb(7, 7, 39);
    box-sizing: border-box;
    --text-spacing: var(--espacement-texte); 
}

/* ----- Section Arrière-plan ----- */
.background-section-Cloudd {
    width: 100%;
    max-height: 800px;
    background-color: rgb(216, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--couleur-texte);
    padding: 200px 0;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    height: 860px;
}

.background-section-Cloudd::before {
    content: '';
    background: url('image3.webp') no-repeat center/cover;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}

.overlay-text {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #615649;
    text-align: center;
    max-width: 80%;
    z-index: 2;
    font-style: var(--style-texte);
    margin-left: -200px;
    margin-bottom: 300px;
    border-radius: 30px;
    
}

.overlay-text h1 {
    margin-bottom: var(--text-spacing);
    font-size: 52px;
    
}

.overlay-text h2 {
    margin-bottom: var(--text-spacing);
    font-size: 24px;
}

/* ----- Section Rectangle ----- */
.rectangle03 {
    height: 400px;
    border: 6px solid white;
    max-width: 1200px;
    margin-left: 30px;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--text-spacing);
    margin-bottom: 40px;
   padding: 5px;
    overflow: hidden;
    text-align: center;
    border-radius: 85px;
    transition: transform 0.3s ease-in-out !important;
    gap: var(--espacement-image-texte); /* Espace entre l'image et le texte */
}

.image-container {
    position: relative;
    flex: 2;
    margin: 90px;
    max-width: 400px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    width: 100%; /* Pleine largeur pour les petits écrans */
    height: 100%;
    margin-bottom: 15px; /* Ajuster l'espacement du bas */
}

.image-container img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover; /* Ajouter ceci */
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.column {
    flex: 1;
}

.column:first-child {
    margin-bottom: var(--text-spacing);
}

.column h3, .column p {
    color: var(--couleur-texte);
    font-style: var(--style-texte);
    word-wrap: break-word;
}

.column h3 {
    padding-bottom: var(--text-spacing);
}

.column p {
    text-align: justify;
}

/* ----- Section 4 ----- */
.section-4 {
    background-color: #fefeff;
    padding: 10px;
    border-radius: 85px;
    text-align: center;
    height: 200px;
    border: 6px solid white;
   margin-left: 50px;
    overflow: hidden; 
    max-width: 1200px;
    margin-bottom: 60px;

}

.section-4 h1 {
    margin-bottom: 5px;
    word-wrap: break-word;
    color: var(--couleur-texte);
    font-style: var(--style-texte);
}
.section-4 p {
    margin-bottom: 5px;
    word-wrap: break-word;
    color: var(--couleur-texte);
    font-style: var(--style-texte);
}
.container0001 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7, 7, 39);
    margin: 1rem 5%;
    flex-direction: row !important;
    width: 100%;
    padding: 2rem;
    margin-left: 1px;
    margin-top: 30px;
  
  }
  .section0001-text{
    
    padding: 2rem;
  flex: 1;
  overflow: hidden;
  line-height: 2.5;
  color: aliceblue;
  font-size: 1.5rem; /* Utiliser 'rem' pour la taille de police */
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left
  }
  .section0001-image{
    flex: 1;
    background-color: white;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    height: auto;
    max-width: 100%;
    
  }
  .section0001-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
/* ----- Media Query pour la taille mobile ----- */
@media only screen and (max-width: 760px) {
    .rectangle03{
        height: auto;
        gap: 10px;
        flex-direction: column;
        width: auto; /* Largeur auto pour s'adapter à l'écran */
        margin-left: 0; /* Supprimer la marge gauche fixe */
        padding: 20px; /* Réduire le padding pour petits écrans */
        border-radius: 50px; /* Ajuster le rayon pour les petits écrans */
    }

    @media only screen and (max-width: 760px) {
        .section-4  {
            height: auto;
            gap: 10px;
            flex-direction: column;
            width: auto; /* Largeur auto pour s'adapter à l'écran */
            margin-left: 0; /* Supprimer la marge gauche fixe */
            padding: 20px; /* Réduire le padding pour petits écrans */
            border-radius: 50px; /* Ajuster le rayon pour les petits écrans */
        }
        
    .container0001{
        flex-direction: column !important;
    }
        
    .image-container, .text-container {
        width: 100%;
        margin-bottom: var(--text-spacing);
    }
}
@media (max-width: 2000px) {
    .container0001{
      flex-direction: row;
      padding: 10px;
      margin: 5px;
      justify-content: space-between;
    }
}
}