/* Variables */
:root {
    --footer-column-gap: 10px; /* Espacement entre les colonnes */
}

/* Styles de base pour le footer */
.footer {
    background-color: rgb(6, 49, 63);
    padding: 20px 0;
    color: #0087b8;
    font-family: Arial, sans-serif;
}

/* Contenu du footer */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
    gap: var(--footer-column-gap);
    flex-wrap: wrap; /* Permet le passage à la ligne sur des écrans plus petits */
}

/* Sections du footer */
.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; /* Flexibilité pour occuper l'espace disponible */
    min-width: 200px; /* Largeur minimale pour éviter une compression excessive */
}

/* Styles pour les titres et les spans dans les sections du footer */
.footer-section h4 {
    color: #009fd4;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.footer-section span {
    font-size: 15px;
}

/* Media Queries */

/* Écrans moyens (tablettes) */
@media only screen and (max-width: 768px) {
    .footer-section {
        flex-basis: 50%; /* Prend 50% de la largeur de l'écran */
    }
}

/* Écrans petits (mobiles) */
@media only screen and (max-width: 480px) {
    .footer-content {
        flex-direction: column;
        gap: 20px; /* Augmente l'espacement */
    }
    .footer-section {
        flex-basis: 100%; /* Prend toute la largeur de l'écran */
        margin-bottom: 15px;
    }
    .footer-section span {
        font-size: 18px; /* Ajuste la taille du texte */
    }
}

/* Écrans très larges */
@media only screen and (min-width: 2001px) {
    :root {
        --footer-column-gap: 20px; /* Augmente l'espacement entre les colonnes */
    }
    .footer-content {
        padding: 0 30px;
        max-width: none;
    }
    .footer-section h4 {
        font-size: 36px; /* Taille de la police pour les grands écrans */
    }
    .footer-section span {
        font-size: 24px; /* Taille de la police pour les grands écrans */
    }
}
