.app-header {
  background-color: rgb(7, 7, 39);
  padding: 1px 0;
  color: rgb(7, 165, 139);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  height: auto; /* Adjust height automatically */
    max-width: 200px; /* Set maximum width for the logo image */
    width: auto; /* Adjust width automatically */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

nav ul li {
  position: relative;
}

nav ul li a, nav ul li span {
  color:rgb(7, 165, 139);
  display: inline-block;
  padding: 10px 25px;
  transition: transform 0.3s, background-color 0.3s;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover, nav ul li span:hover {
  background-color: #333;
}

nav ul .dropdown {
  display: none;
  position: absolute;
  background: #000;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 10px;
 
  top: 100%;

  z-index: 1;
}

nav ul li:hover .dropdown {
  display: block;
}

nav ul .dropdown.show {
  display: block;
}

.menu-toggle {
  display: none;
  background: #000;
  border: none;
  color: rgb(7, 165, 139);
  font-size: 34px;
  cursor: pointer;
}

.menu-toggle.open {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav {
      display: none;
      width: 100%;
  }

  nav.active {
      display: block;
  }
  nav ul li a, nav ul li span {
    font-size: 16px; /* Adjust font size for smaller screens */
    padding: 8px 20px; /* Adjust padding for smaller screens */
  }

  nav ul {
    flex-direction: column;
    width: 100%; /* Full width */
    align-items: center; /* Center align the nav items */
      gap: 10px;
      
  }

  nav ul .dropdown {
    position: static; /* Use static instead of absolute */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width calculation */
      background: transparent;
      border: none;
  }

  .menu-toggle {
      display: block;
  }
  .menu-toggle.open {
    display: block;
  }
}
