.portfolio-page {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

/* Styles de base pour chaque section */
.section1, .section2, .section3, .section4, .section5 {
  padding: 50px 0;
}
.dynamic-text{
  color: gold;
}

/* Section 1: Identique à la précédente implémentation */
.section01 {
  background-image: url('Background1.jpg');
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow: hidden; /* Empêche le débordement de contenu */
  
}

/* Section 2: Conteneur de rectangles */
.section02 {
  background-color: #000030; /* Bleu marine */
  display: flex;
  flex-direction: column; /* change l'affichage des rectangles en colonne */
  align-items: center; /* centre les rectangles horizontalement */
  padding: 10px 300px;
  overflow: hidden; /* Empêche le débordement de contenu */
  flex-direction: row; /* Alignement horizontal par défaut */
}
/*conteneur qui contient les rectangle de la section 02*/
.rectangle-container {
  background-color: #000030;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap; /* Permet l'enveloppement des éléments */
}
    
  
  .rectangle {
    background-color: #400090 !important;
  border: none !important;
  border-radius: 50px !important; /* Valeur de coins arrondis */
  width: 300px; /* Largeur ajustée */
  height: 350px;
  flex-direction: column;
  margin: 35px; /* Marge uniforme */
  transition: transform 0.3s ease;
  width: 300px; /* Largeur ajustée pour les petits écrans */
  margin: 35px auto; /* Marge ajustée pour les petits écrans */
  margin: 20px; /* Ajoute un espace de 20px autour de chaque rectangle */
  }
  .rectangle h2 {
    color: gold;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 1.5em;
    overflow: hidden;
  }


.rectangle p {
  color: gold;
  margin-top: 0;
  font-size: 1em;
}


/* Section 3: Texte et Image */
.section03 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  overflow: hidden; /* Empêche le débordement de contenu */
}

.text-area {
  display: flex;
  flex: 1;
  margin-left: 60px;
  align-items: center;
  flex-grow: 1; /* Permet au conteneur de texte de prendre l'espace disponible */
  padding: 20px; /* Ajouter un peu d'espace autour du texte */
  flex-direction: column; /* Organise les enfants verticalement */
  justify-content: center; /* Centre le contenu verticalement */
  

}
.text-area h2 {
    text-align: center;
    font-size: 24px; /* Taille de la police pour le titre */
    color: #007bff; /* Couleur du titre */
    margin-bottom: 15px; /* Espace après le titre */
    margin-top: 0; /* Retirer la marge supérieure */
    

}
.text-area p {
  color: #333; /* Couleur du texte */
  font-size: 16px; /* Taille de la police pour le texte */
  line-height: 1.6; /* Espacement entre les lignes */
  text-align: center; /* Centre le texte horizontalement */
  width: 100%; /* Assure que le paragraphe prend la largeur totale du conteneur */

}
.section003{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  overflow: hidden; /* Empêche le débordement de contenu */
  margin-right: 30px;
  text-align: center;
}
.text-area003  {
  position: right;
  color: #000030;
  text-align: right;
  position: right;
}

  /* Autres styles... */


.image-area {
  flex: 1;
  max-width: 50%;  /* L'image occupe au maximum 100% de la largeur de son conteneur */
    max-height: 400px; /* Limite la hauteur maximale de l'image */
    height: auto;  
  
  /* Autres styles... */
}

/* Section 4: Compteur dynamique */
.section04 {
  background-color: #000030;
  display: flex;
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
  padding: 250px;
  height: 100px;
  width: auto;
  overflow: hidden; /* Empêche le débordement de contenu */
}

.image-container img {
  max-width: 100%; /* Assure que l'image ne dépasse pas son conteneur */
  height: 90px; /* Maintient l'aspect ratio de l'image */
  max-width: 50%;  /* L'image occupe au maximum 100% de la largeur de son conteneur */
   width: 200px;
    
}

.dynamic-number-container {
  text-align: right; /* Aligner le texte à droite */
  color: aliceblue;
}

.dynamic-number-container h2 {
  font-size: 20px; /* Taille de la police pour le titre */
  margin-bottom: 10px; /* Espace entre le titre et le nombre */
}

.dynamic-number {
  font-size: 36px; /* Taille de la police pour le nombre dynamique */
  color: white; /* Couleur du nombre, ajustez selon vos besoins */
}
/* Section 5: Carrousel */
.section05 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  width: auto;
}

.carousel-container {
  width: 5000px;
  height: 500px;
  background-color: white;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overflow: hidden;
    transition: transform 0.5s ease;
    position: relative;
    flex-wrap: nowrap;
    

}

.carousel-item {
  display: inline-block;
  width: 600px;
  flex: none;
  background-color: #000030; /* Bleu marine */
  color: white;
  margin: 20px;
  border-radius: 50px;
  padding: 20px;
  scroll-snap-align: start;
  /* Autres styles... */
 
}
.carousel-arrow {
  position: absolute;
  
 bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  bottom: -2200px;
}
.carousel-arrow.left {
  left: 20px;
  color: gold;
  background: green;
}

.carousel-arrow.right {
  right: 20px;
  color: gold;
  background: green;
}
.rating {
  color: gold;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: defilement 10s linear infinite;
}

/* Responsive Design */
@media (max-width: 768px) {
  .section01, .section02, .section03, .section04, .section05 {
      padding: 20px;
      margin: 0 auto; /* centre les rectangles verticalement */
      flex-direction: column; /* Alignement vertical des rectangles */
      margin: 10px; /* Réduit l'espace autour des rectangles sur les petits écrans */
      justify-content: center; 
      align-items: center;
     
  }
}
  .dynamic-text, .dynamic-number {
      font-size: 1.5rem;
  }
  @media (min-width: 2000px) {
    .section01, .section02, .section03, .section04, .section05 {
        padding: 40px;
        margin: 30px; /* Augmente l'espace autour des rectangles sur les grands écrans */
    }

  /* Autres styles responsives... */
}
.section02 .rectangle:hover {
  transform: scale(1.05); /* légèrement agrandi */
  cursor: pointer; /* optionnel, pour changer le curseur au survol */
}