.Test-page {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

/* Section 5 */
.section005 {
    display: flex;
    overflow-x: hidden;
    padding: 20px;
    position: relative; /* To position the arrows relative to this container */
}

.carousel-container1 {
    display: flex;
    scroll-snap-type: x mandatory;
    width: 3000px;
}

.carousel-item1 {
    scroll-snap-align: start;
    margin: 20px;
    background-color: #000030;
    color: white;
    border-radius: 20px;
    padding: 20px;
    width: 600px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-item1 img {
    max-width: 100%; /* Limite la largeur de l'image à celle du conteneur */
    max-height: 100%; /* Limite la hauteur de l'image à celle du conteneur */
    object-fit: cover; /* Ajuste l'image pour couvrir l'espace disponible */
}

.carousel-arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 50%; /* Align vertically to the center */
    transform: translateY(-50%); /* Center arrow relative to its height */
}

.carousel-arrow.left1 {
    background-color: green;
    left: 10px; /* Adjust as needed for positioning */
    color: gold;
    height: 15px;
}

.carousel-arrow.right1 {
    background-color: green;
    right: 10px; /* Adjust as needed for positioning */
    color: gold;
    height: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .section005 {
        flex-direction: column;
    }
    .carousel-item1 {
        width: 100%;
    }
}
